<!-- The directive here is in example_include.js (was loaded in example.html)-->
<div example-include-directive>
    <h1>Example of an advanced user interface to input whatever needed data needed.</h1>
    <p>The data model is parentController.model, currently it is:</p>
    <pre>{{parentController.model| json : spacing}}</pre>
    <p>Set it here: <input ng-model="controller.model.test1"></p>
    <!-- The controller is also in example_include.js -->
    <p>We have a controller here, too, <button type="button" ng-click="testController('Yay, the controller works')">test it</button>
    <p>We can show more information below, <button type="button" ng-click="toggleMoreInfo()">{{moreInfoCaption}}</button></p>

    <div ng-show="showMoreInfo">
        <p>The schema is at parentController.schema, it is currently:</p>
        <pre>{{parentController.schema| json : spacing}}</pre>
        <p>The form is parentController.form. Currently the form has the following values:</p>
        <pre>{{parentController.form| json : spacing}}</pre>
    </div>

</div>
